In [1]:
import sqlite3
import csv

In [2]:
file = open("C:\\Users\\nargy\\Documents\\Estudos\\Semana-13\\on26-python-s13-projeto-guiado-II\\material\\Student Mental health.csv")
conteudo = csv.reader(file)

In [3]:
connection = sqlite3.connect("Students.db")
cursor = connection.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS Students (
                Id INTEGER PRIMARY KEY,
                Timestamp TEXT,
                "Choose your gender" TEXT,
                Age INTEGER NOT NULL,
                "What is your course?" TEXT,
                "Your current year of Study" TEXT,
                "What is your CGPA?" FLOAT,
                "Do you have Depression?" TEXT,
                "Do you have Anxiety?" TEXT,
                "Do you have Panic attack?" TEXT,
                "Did you seek any specialist for a treatment?")
               ''')

In [4]:
inserir_conteudo = "INSERT INTO Students (Timestamp, \"Choose your gender\", Age, \"What is your course?\", \"Your current year of Study\", \"What is your CGPA?\", \"Do you have Depression?\", \"Do you have Anxiety?\", \"Do you have Panic attack?\", \"Did you seek any specialist for a treatment?\") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
for row in conteudo:
    cursor.execute(inserir_conteudo, (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]))

selecionar_tudo = "SELECT * FROM Students"
entradas = cursor.fetchall()

In [5]:
def excluir_registro(id):
    cursor.execute("DELETE FROM Students WHERE Id = ?", (id,))

excluir_registro(1)

In [6]:
connection.commit()
connection.close()