## Banco de dados

In [15]:
import csv
import sqlite3

In [16]:
file = open('books_data_clean.csv', 'r', encoding='utf-8')

In [17]:
conteudo = csv.reader(file)

connection = sqlite3.connect("banco_livros.db")
cursor = connection.cursor()

In [25]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        [Publishing Year] INT,
        [Book Name] VARCHAR,
        author VARCHAR,
        language_code VARCHAR,
        author_rating VARCHAR,
        book_average_rating FLOAT,
        book_ratings_count INT,
        genre VARCHAR,
        gross_sales FLOAT,
        publisher_revenue FLOAT,
        sale_price FLOAT,
        sales_rank FLOAT,
        publisher VARCHAR,
        units_sold FLOAT
    )
''')

connection.commit()

In [27]:
inserir_conteudo = '''
    INSERT INTO books (
        [Publishing Year],
        book_name,
        author,
        language_code,
        author_rating,
        book_average_rating,
        book_ratings_count,
        genre,
        gross_sales,
        publisher_revenue,
        sale_price,
        sales_rank,
        publisher,
        units_sold
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

cursor.executemany(inserir_conteudo, conteudo)

connection.commit()

OperationalError: table books has no column named Publishing Year

In [ ]:
selecionar_tudo = "SELECT * FROM books"
entradas = cursor.execute(selecionar_tudo).fetchall()

In [ ]:
for entrada in entradas:
  print(entrada)

In [ ]:
connection.commit()
connection.close()