In [ ]:
import csv
import sqlite3

In [ ]:
for entrada in entradas:
  print(entrada)

In [ ]:
file = open("/content/drive/MyDrive/csv/data.csv", encoding= 'UTF-8')

conteudo = csv.reader(file)

connection = sqlite3.connect("/content/drive/MyDrive/csv/data.csv")

cursor = connection.cursor()

cursor.execute ('''CREATE TABLE IF NOT EXISTS Rank(

  Rank INT,
  Time FLOAT,
  Name VARCHAR,
  Country VARCHAR,
  Date of Birth DATE,
  Place INT,
  City VARCHAR,
  Date DATE,
  Gender VARCHAR,
  Event VARCHAR

)''')

inserir_conteudo = "INSERT INTO Rank (Rank,Time, Name, Country, Date of Birth, Place, City, Date, Gender, Event)VALUES()"

cursor.executemany(inserir_conteudo, conteudo)

selecionar_tudo = "SELECT * FROM Rank"
entradas = cursor.execute(selecionar_tudo).fetchall()

In [ ]:
connection.commit()
connection.close()