###Banco de dados

In [1]:
import csv
import sqlite3

In [2]:
file = open("CoffeeAndCode.csv", encoding= 'UTF-8')

In [3]:
conteudo = csv.reader(file)

connection = sqlite3.connect("CafeECodigo.db")

cursor = connection.cursor()

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS rank (
    CodingHours INT,
    CoffeeCupsPerDay INT,
    CoffeeTime VARCHAR, 
    CodingWithoutCoffee VARCHAR,
    CoffeeType VARCHAR,
    CoffeeSolveBugs VARCHAR,
    Gender VARCHAR,
    Country VARCHAR,
    AgeRange VARCHAR
    
)''')

In [5]:
inserir_conteudo = "INSERT INTO rank (CodingHours, CoffeeCupsPerDay, CoffeeTime, CodingWithoutCoffee, CoffeeType, CoffeeSolveBugs, Gender, Country, AgeRange) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)"
conteudo = (10, 3, 'morning', 'yes', 'espresso', 'yes', 'Male', 'USA', '25-34')
cursor.execute(inserir_conteudo, conteudo)

In [6]:
selecionar_tudo = "SELECT * FROM rank"
entradas = cursor.execute(selecionar_tudo).fetchall()

In [7]:
for entrada in entradas:
  print(entrada)

(10, 3, 'morning', 'yes', 'espresso', 'yes', 'Male', 'USA', '25-34')
(10, 3, 'morning', 'yes', 'espresso', 'yes', 'Male', 'USA', '25-34')

In [ ]:
connection.commit()
connection.close()